header{
    background-color: turquoise;
    padding: 20px;
    font-family: sans-serif;
    font-size: 18pt;
    text-shadow: 2px 2px white;
    color: tomato;
    margin-bottom: 50px;
}
.sq{
    text-align: end;
}