
h1{
    font-family: sans-serif;
    font-size: 32pt;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px orange;
    color: white;
    background-color: teal;
    text-align: center;
}

ul{
    list-style: none;
}

li{
    display: inline-block;
    border: 1px solid #F29B74;
    width: 30%;
    height: 80px;
    border-radius: 4px;
    text-align: center;
    background-color: #F29B74;
    color: white;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 32pt;
    font-weight: bold;
    margin: 15px;
    margin-top: 20px;
    padding-top: 20px;
}